.order-item{
    display: flex;
    margin: 0 0 30px 0;
    img{
        width: 200px;
        margin-right: 30px;
    }
    &__title{
        font-size: 24px;
        font-weight: 700;
    }
    &__price{
        font-style: 24px;
        font-weight: 700;
        margin-left: auto;
        align-self: center;
        span{
            display: block;
            text-align: center;
        }
    }
    button{
        display: block;
        margin-top: 10px;
        background-color: tomato;
        border-radius: 10px;
        padding: 5px 10px;
        color: #fff;
        border: none;
        cursor: pointer;
    }
}